/* General styles */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
}

body{
  /*margin-top: 10em;*/
  min-height: 100vh;    
  display: grid;      
  place-content: center; 
}
 
 /* card general setup */
  .card {
      background-color: hsl(0, 0%, 100%);
      text-align: center;
      width: 21em;
      height: 32em;
      border-radius: 1.3em;
      margin: auto;
  }   

  /* card image setup */


    img {
    display: block;
    width: 19em;
    border-radius: .7em;
    margin: auto;
  }

  .image {
    padding-top: 1em;
    border-radius: .7em;
  }

  /* article setup */

  .card article{
    margin-top: 1.5em;
  }

  .card h3, .card p {
    text-align: center;
    line-height: 1.3em;
    
  }

  .card h3{
    font-weight: 700;
  }
  
  .card p {
    padding: 1em;
    color: hsl(220, 15%, 55%);
    font-weight: 500;
  }

 .attribution {
       font-size: .8rem; text-align: center; 
      }
 
 
 .attribution a { 
      color: hsl(228, 45%, 44%); 
    }


